@model eShowroom.Models.BonEntree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BonEntree</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnteredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fournisseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fournisseur.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
