@model IEnumerable<eShowroom.Models.BonEntree>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroBon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnteredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fournisseur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroBon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnteredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
